body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f7f7f7;
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
}

h1 {
    color: #f3f3f3;
    font-size: 36px;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
}

input[type="number"] {
    padding: 10px;
    margin-right: 10px;
    width: 80px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    background-color: #092f53;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ffffff;
}

.message {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.attempts {
    margin-top: 10px;
}




body {
    background-image: url('');
    background-size: 100% 100%; /* Ajusta o tamanho da imagem para 100% da largura e altura do elemento pai */
    /* outras propriedades... */
}

#videoBackground {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    background-size: cover;
  }